.s-woman{
    &.number3{
        width: 300vw;


        .s-woman_quote-container{
            position: relative;
            top: 10vh;
            left: 5vw;
        }
    }
} 
.ching_background{
    z-index: -100;
    position: absolute;
    right: 15vw;
    width: 300vw;
}
