.s-woman{
    &.number1{
        width: 200vw;
        background-image: url('/img/enheduanna-bg.png');
        background-size: contain;
        background-repeat: no-repeat;
        background-position-x: 20vw;
        // & p{
        //     font-family:'cuneiforme';
        // }
    }

} 

.enheduanna_intro{
    display: flex;

    &-description{
        position: relative;
    }

    &-img{
        height: 40vh;
    }

    &-text{
        border: 1px solid $dark;
        padding: 2.5% 2.5%;
        width: 30vw;
        text-align: justify;

        &-img{
            position: absolute;
            top: 0;
            right: 0;
        }
    }
}