.s-woman{
    &.intro{
        // background-image: url('/img/introbg.png');
        // background-size: contain;
        // background-repeat: no-repeat;
        width: fit-content;
        position: relative;
        margin-right: 5vw;


        .s-woman_title-container{
            padding-left: 10vw;
            position: absolute;
            top: 40%;
            left: center;
        }
        
        .s-woman_title{
            color: $grey;
            line-height: 90%;
            font-size: 6em;
            text-transform: uppercase;
        }

        .s-woman_on-title{
            color: $grey;
            font-size: 1.5em;
        }
    }
}