.s-woman{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative;

    .s-woman_title{
        font-size: 4em;
        text-transform: uppercase;
    }
}