.section{
    width: 100vw;
    height: 100vh;

    &.s-intro{
        background-color: red;
    }

    &.s-enheduanna{
        background-color: blue;
    }

    &.s-artemisia{
        background-color: green;
    }

    &.s-end{
        background-color: yellow;
    }
}