.container{
    width: 100vh;
    height: 100vw;
    transform-origin: top left;
    transform: rotate(-90deg) translateX(-100vh);
    overflow-x: hidden;

    &_horizontal{
        display: flex;
        width: fit-content;
        transform-origin: top left;
        transform: rotate(90deg) translateY(-100vh);
    } 
}