.parallax-transition{
    position: relative;
    height: 100vh;
    overflow: hidden;
    width: 30vw;
    transform: skewX(-10deg);
    margin: 0 10vw;
}

.parallax-item{
    position: absolute;
    top: 0;
    right: 0;
    height: 100vh;
    width: 55vw;
    background-image: url('/img/transition-ange.png');
    background-size: 155%;
    background-position: center;
    background-repeat: no-repeat;

    &.ching{
        background-image: url('/img/chingtransition.png');
        background-size: contain;
        width: 105vw;
    }
}

.parallax-separation{
    position: relative;
    left: 70%;
    height: 100vh;
    width: 2.5vw;
    background-color: $grey;
}