.s-woman_title{

    &-container{
        width: fit-content;
    }

    &.red{
        color: $red;
    }

    &.blue{
        color: $blue;
    }
}

.s-woman_content-container{
    height: 100%;
    display: flex;
    position: relative;
}