::-webkit-scrollbar{
    display: none;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}

body{
    background-color: $grey;
    font-family: "Montserrat", sans-serif;
    color : $dark ; 
    height: 100vh;
    overscroll-behavior: none;
}

h1,
h2,
h3{
    font-family: "ribes";
}

p{
    color: $dark;
}

.app{
    position: relative;
    width: fit-content;
    display: flex;
    height: 100vh;
}

.frame{
    position: relative;
    display: flex;
    height: 100vh;
}

