// FONTS
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@font-face {
    font-family: "ribes";
    src: url('/font/Ribes-Black.otf');
}
@font-face {
    font-family: "cuneiforme";
    src: url('/font/EasyCuneiform.ttf');
}

// COULEURS
$grey: #CFD1D3;
$red: #D1220B;
$yellow: #F5CE01;
$dark: #3F2212;
$blue: #0163F5;
$white: #f4f4f4;